footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

h1 {
    font-family: var(--title-font);
    color: var(--title-color);
    margin-bottom: 40px;
}

p {
    margin-bottom: 10px;
}

p span, p a {
    color: var(--text-color);
    transition: 250ms;
}

p a {
    text-decoration: none;
}

p a:hover {
    color: var(--title-color);
    transition: 250ms;
}
