header {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 40px;
}

h1 {
    font-family: var(--title-font);
    padding-top: 20px;
    margin-bottom: 40px;
}

h1 span {
    font-family: var(--title-font);
    color: var(--title-color);
}
